
@font-face{
	font-family: 'Dosis';
	font-style: semi-bold;
	font-weight:400;
	src:url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap');

}

.vodo{
	
	text-align: center;
}
h1{
	font-size: 70px;
	font-family: Dosis;
}